p, h1, a {
    margin: 0px;
    padding: 0px;
}

h1 {
    padding-bottom: 10px;
}

a {
    text-decoration: none;
    color: #303030;
}

body {
    background-color: #303030;
    color: #303030;
}

.header,.main,.side,.footer {
    background-color: #f2f2f2;
}

.header {
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 8px;
    padding-left: 8px;
}

.center {
    display: inline-block;

    width: 1000px;
    margin-right: auto;
    margin-left: 50%;
    margin-top: 10px;

    transform: translateX(-50%);

    padding: 0px;
}

.main {
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 8px;
    padding-left: 8px;
}

.side{
    float: right;

    margin: 0px;
    margin-right: -8px;

    padding: 0px;
}

.footer {
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;

    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 8px;
    padding-left: 8px;
}