* { box-sizing: border-box; }

html, body, h1, h2, h3, p, a {
  margin: 0;
  padding: 0;
  text-align: left;
  font-family: "L Modern", "Latin Modern Roman", Georgia, "Times New Roman", serif;
  color: #303030;
}

h2, h3{
    padding-bottom: 10px;
}

p{
    text-align: justify;
}

body {
  background-color: #303030;  /* solid gray background */
  padding: 20px 0;
}

a {
  text-decoration: none;
  color: inherit;
}


.panel {
  background-color: #f2f2f2;
  width: 1000px;
  margin: 0 auto 10px auto;
  padding: 16px;
  border: 1px solid transparent;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;          
  padding: 32px 16px 48px 16px; 
}

.nav {
  position: absolute;
  bottom: -1px;  
  left: 16px;   
  display: flex;
  gap: 10px;
}

.nav a {
  background-color: #303030;    
  color: #f2f2f2;               
  padding: 5px 20px;
  border: 1px solid transparent; 
  text-transform: lowercase;     
  font-size: 14px;
  display: inline-block;
}

.nav a:hover {
  background-color: #505050;   
}


.content {
  width: 1000px;
  margin: 15px auto 3px auto;
  display: flex;
  gap: 10px;                   
  align-items: flex-start;
}

.main {
  flex: 3;
  background: transparent;
  padding: 0;
  margin: 0;
}

.post {
  background-color: #f2f2f2;
  padding: 16px;
  margin-bottom: 12px;     
  border: 1px solid transparent;
}

.side {
  flex: 1;
  background-color: #f2f2f2;
  padding: 16px;
  border: 1px solid transparent;
}


.footer {
  display: block;
  text-align: left;
  width: 1000px;
  padding: 5px 16px;
  margin: 0 auto;
}

/* --- Responsive --- */
@media (max-width: 600px) {
  .panel, .content, .footer {
    width: calc(100% - 75px);
    margin-left: 20px;
    margin-right: 20px;
  }

  .content {
    flex-direction: column;
  }
}
